<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
</style>
/* Top players style */

body{
    font-family: 'Poppins', sans-serif;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr;-same command repeat(3, 1fr) */
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;

.players border-image-source: {
    width:56px;
    height:56px;
    
};
    

    

}


